.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.outer-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  padding-top: 10%;
}

.message-container {
  color: rgb(33, 90, 112);
  font-weight: bold;
}
